<div class="popup1_form white-popup mfp-hide" id="form-popup1">
    <div class="popup1_form__left">
        <div class="popup_manager">
            <div class="popup_manager_description">
                <span class="popup_manager_name">Имя Фамилия</span>
                <span class="popup_manager_role">должность</span>
            </div>
        </div>
    </div>
    <div class="popup1_form__right">
        <a class="popup_close" >X</a>
        <div class="popup1_form_form">
            <div class="popup1_form_form_header">
                <span class="popup1_form_form_header_title">Укажите ваш номер телефона</span>
                <span class="popup1_form_form_header_description">Наш менеджер свяжется с вами и подробно
ответит на все ваши вопросы</span>
            </div>
            <div class="popup1_form_form_body">
                <form action="#">
                    <input type="tel" id="popup1_tel" name="popup1_tel" placeholder="Телефон *">
                    <input type="text" id="popup1_name" name="popup1_name" placeholder="Ваше имя ( не обязательно )">
                    <input type="submit" class="popup1_send" name="popup1_send" value="Отправить">
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('.popup1_send').click(function (e) {
            e.preventDefault();
            if ($('#popup1_tel').val() == '') {
                alert('Заполните поле телефон');
                return;
            }
            if ($('#popup1_tel').val().length < 11) {
                alert('Неверный формат номер телефона');
                return;
            }

            if ($('#popup1_name').val() == '') {
                alert('Заполните поле Имя');
                return;
            }
            let phone = $('#popup1_tel').val();
            let name = $('#popup1_name').val();

            $.ajax({
                url: "/callback_form",
                type: "POST", //метод отправки
                dataType: "html", //формат данных

                data: {
                    'phone': phone,
                    'name': name,
                },
                success: function (response) { //Данные отправлены успешно
                    //$('.callback-popup-body').html('<p style="text-align: center; font-weight: 700; padding: 20px;">Спасибо! Ваша заявка отправлена.</p>');
                    $.magnificPopup.close();
                    console.log(response);
                },
                error: function (response) { // Данные не отправлены
                    console.log('error');
                }
            });

        });
    });
</script>