{% if news is not empty %}
    <section class="blog">
        <div class="container">
            <h2>Полезный блог</h2>
            <div class="blog__container">
                {% for newsItem in news %}
                    <div class="blog__item">
                    <div class="blog__item_img">
                        <img src="/images/news/{{ newsItem.alias }}/image.jpg" alt="">
                    </div>
                    <span class="blog__item_name">{{ newsItem.h1 }}</span>
                    <div class="blog__item_short-text">
                        {{ newsItem.shortText|raw }}
                    </div>
                    <a href="/news/{{ newsItem.alias }}" class="blog__item_link">Читать подробнее</a>
                </div>
                {% endfor %}

            </div>
        </div>
    </section>
{% endif %}