<section class="blog">
    <div class="container">
        <h2>Полезный блог</h2>
        <div class="blog__container">
            <div class="blog__item">
                <div class="blog__item_img">
                    <img src="/images/blog/blog1.png" alt="">
                </div>
                <span class="blog__item_name">Название новости</span>
                <div class="blog__item_short-text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolorem gna aliqua. orem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolorem gna aliqua.</p>
                </div>
                <a href="/news/news1" class="blog__item_link">Читать подробнее</a>
            </div>
            <div class="blog__item">
                <div class="blog__item_img">
                    <img src="/images/blog/blog2.png" alt="">
                </div>
                <span class="blog__item_name">Название новости</span>
                <div class="blog__item_short-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolorem gna aliqua.
                </div>
                <a href="/news/news1" class="blog__item_link">Читать подробнее</a>
            </div>
            <div class="blog__item">
                <div class="blog__item_img">
                    <img src="/images/blog/blog3.png" alt="">
                </div>
                <span class="blog__item_name">Название новости</span>
                <div class="blog__item_short-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolorem gna aliqua.
                </div>
                <a href="/news/news1" class="blog__item_link">Читать подробнее</a>
            </div>
            <div class="blog__item">
                <div class="blog__item_img">
                    <img src="/images/blog/blog4.png" alt="">
                </div>
                <span class="blog__item_name">Название новости</span>
                <div class="blog__item_short-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolorem gna aliqua.
                </div>
                <a href="/news/news1" class="blog__item_link">Читать подробнее</a>
            </div>
        </div>
    </div>
</section>