<section class="certificates">
    <div class="container">
        <h2>Сертификаты</h2>
        <div class="certificates__slider">
            <div class="certificate">
                <img src="/images/certificates/cert4.png" alt="">
            </div>
            <div class="certificate">
                <img src="/images/certificates/cert5.png" alt="">
            </div>
            <div class="certificate">
                <img src="/images/certificates/cert6.png" alt="">
            </div>
            <div class="certificate">
                <img src="/images/certificates/cert7.png" alt="">
            </div>
            <div class="certificate">
                <img src="/images/certificates/cert8.png" alt="">
            </div>
            <div class="certificate">
                <img src="/images/certificates/cert9.png" alt="">
            </div>
            <div class="certificate">
                <img src="/images/certificates/cert10.png" alt="">
            </div>
            <div class="certificate">
                <img src="/images/certificates/cert11.png" alt="">
            </div>
            <div class="certificate">
                <img src="/images/certificates/cert12.png" alt="">
            </div>
            <div class="certificate">
                <img src="/images/certificates/cert13.png" alt="">
            </div>
            <div class="certificate">
                <img src="/images/certificates/cert14.png" alt="">
            </div>
            <div class="certificate">
                <img src="/images/certificates/cert15.png" alt="">
            </div>

        </div>
    </div>
</section>