<section class="certificates">
    <div class="container">
        <h2>Сертификаты</h2>
        <div class="certificates__slider">
            <div class="certificate">
                <img src="/images/certificates/cert1.png" alt="">
            </div>
            <div class="certificate">
                <img src="/images/certificates/cert2.png" alt="">
            </div>
            <div class="certificate">
                <img src="/images/certificates/cert3.png" alt="">
            </div>

        </div>
    </div>
</section>