<section class="confirm">
    <div class="container">
        <div class="row">
            <div class="col-12">
                 <h2>Спасибо за заказ</h2>
            </div>
        </div>

        <div class="row">
            <div class="confirm__text col-12">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <h3>Дальнейшие действия</h3>
            </div>
        </div>

        <div class=" confirm__steps row">
            <div class="confirm__steps_item col-lg-3 col-md-6 col-sm-12">
                <span>01</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
            </div>

            <div class="confirm__steps_item col-lg-3 col-md-6 col-sm-12">
                <span>02</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
            </div>

            <div class="confirm__steps_item col-lg-3 col-md-6 col-sm-12">
                <span>03</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
            </div>

            <div class="confirm__steps_item col-lg-3 col-md-6 col-sm-12">
                <span>04</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
            </div>

        </div>
    </div>
</section>