<section class="diagnostic-callback">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Запишитесь на диагностику прямо сейчас</h2>
            </div>
            <div class="col-12 diagnostic-callback__form">
                <form action="#">
                    <input type="text" id="popup1_name" name="popup1_name" placeholder="Ваше имя">
                    <input type="tel" id="popup1_tel" name="popup1_tel" name="phone" placeholder="Номер телефона">
                    <div class="diagnostic-callback__form_btn-container">
                        <input class="popup1_send" type="submit" value="Отправить">
                    </div>
                </form>
            </div>
            <div class="col-12 diagnostic-callback__footer">
                <div class="header__phone_icon">
                    <img src="/images/tel-icon.png" alt="">
                </div>
                <span class="header__phone_icon_text">или позвоните нам по номеру +7 (499) 391-18-74</span>
                <div class="header__whatsapp_whatsapp"><i class="fa-brands fa-whatsapp"></i></div>
                <span class="header__whatsapp_whatsapp_text">Мы в WhatsApp</span>
            </div>
        </div>
    </div>
</section>