<section class="faq">
    <div class="container">
        <h2>Часто задаваемые вопросы</h2>
        <div class="accordion faq-accordion" id="accordionExample">
            <div class="accordion-item">
                <p class="accordion-header" id="headingZero">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseZero" aria-expanded="true" aria-controls="collapseZero">
                        Какая гарантия на работы и запчасти?

                    </button>
                </p>
                <div id="collapseZero" class="accordion-collapse collapse show" aria-labelledby="headingZero" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Мы даем гарантию до 900 дней.

                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <p class="accordion-header" id="headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Можно ли находиться рядом с автомобилем?
                    </button>
                </p>
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Не можно, а нужно. Мы сами вас пригласим, проведём к автомобилю, прямо на машине покажем результаты диагностики и объясним что нужно делать. Самое главное — не стоять у механика за спиной во время работы и не подходить ближе очерченной линии. Технику безопасности никто не отменял, люди способны потерять 4 пальца на руке за несколько секунд. Запомните, что ремонтная зона не потенциально, а фактически опасна. Нахождение в цеху не повод подходить к другим автомобилям, вам самим не понравится если посторонние люди будут что-то высматривать и выискивать у вас.

                        Мы отвечаем за вас, когда вы находитесь у нас в цеху, и обязаны наблюдать за вами. Совершенно очевидно, что это не добавляет нам скорости в части проведения работ. Когда вы в цеху, все механики и мастера одним глазом обязаны за вами приглядывать. Это тормозит не только ваш ремонт, но и ремонт всех окружающих автомобилей.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <p class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Почему мы интересуемся VIN-номером авто?

                    </button>
                </p>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Для правильного подбора запчастей и бюллетеней по ремонту именно вашей модификации автомобиля.

                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <p class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Зачем вам СТС?

                    </button>
                </p>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Для получения VIN-номера автомобиля.

                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <p class="accordion-header" id="headingFive">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                        Зачем вам история моего обслуживания?
                    </button>
                </p>
                <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Мы заинтересованы в правильно регламентном обслуживание автомобиля, что напрямую зависит от пробега.

                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <p class="accordion-header" id="headingSix">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                        Со своими запчастями можно?
                    </button>
                </p>
                <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                       Да.
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <p class="accordion-header" id="headingEight">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                        Есть ли комната ожидания?
                    </button>
                </p>
                <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Да, есть комфортная клиентская зона обслуживания.

                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <p class="accordion-header" id="headingEleven">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
                        Есть ли у вас специнструмент?
                    </button>
                </p>
                <div id="collapseEleven" class="accordion-collapse collapse" aria-labelledby="headingEleven" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        В работе мы используем сертифицированное оборудование и инструменты. В работе есть и дилерские приборы.
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>