<footer class="container-fluid footer">
    <div class="top-menu container">
        <a class="header__logo" href="/">
            <div class="header__logo_audi">
                <img src="/images/AUDI.png">
            </div>
            <img src="/images/pik.png">
        </a>
        <div class="header_logo_description">
            Ремонт и обслуживание <br>автомобилей и АУДИ
        </div>
        <div class="header__audi-partners">
            <img src="/images/audi-logo.png" width="67" alt="">
            <span>Партнёры по <br>качеству АУДИ</span>
        </div>
        <div class="header__phone">
            <div class="header__phone_icon">
                <img src="/images/tel-icon.png" alt="">
            </div>
            <div class="header__phone_phone">
                <a href="tel:+74993911874" class="phone_link">+7 (499) 391-18-74</a>
                <p class="working-now">Работаем сейчас</p>
            </div>
        </div>
        <div class="header__whatsapp">
            <a href="#form-popup1" class="header__callback_btn">Заказать обратный звонок</a>
        </div>
    </div>
    <div class="copiright">
        <span>Все права защищены. Информация на сайте не является публичной офертой ст 437 гк РФ.  © 2022</span>
    </div>
    <div class="bottom-cover"><a href="#form-popup1" class="consult_btn">Узнать стоимость ремонта АКПП</a></div>
</footer>