<section class="general-prices">
    <div class="container">
        <h2>Цены на основной ряд услуг</h2>
        <table class="table table-hover table-custom">
            <thead>
            <tr>
                <th scope="col">Название услуги</th>
                <th scope="col">Стоимость</th>

            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">Замена масла в двигателе</th>
                <td>от 600 Р</td>
            </tr>
            <tr>
                <th scope="row">Компьютерная диагностика</th>
                <td>от 1200 Р</td>
            </tr>
            <tr>
                <th scope="row">Диагностика подвески</th>
                <td>от 899 Р</td>
            </tr>
            <tr>
                <th scope="row">Техническое обслуживание</th>
                <td>от 2500 Р</td>
            </tr>
            <tr>
                <th scope="row">Замена цепи ГРМ</th>
                <td>от 15000 Р</td>
            </tr>
            <tr>
                <th scope="row">Замена масла в АКПП</th>
                <td>от 2500 Р</td>
            </tr>
            <tr>
                <th scope="row">Замена тормозной жидкости</th>
                <td>от 1500 Р</td>
            </tr>
            <tr>
                <th scope="row">Замена охлаждающей жидкости</th>
                <td>от 1500 Р</td>
            </tr>
            <tr>
                <th scope="row">Замена ремня ГРМ</th>
                <td>от 15000 Р</td>
            </tr>
            <tr>
                <th scope="row">Замена свечей зажигания</th>
                <td>от 3000 Р</td>
            </tr>
            <tr>
                <th scope="row">Диагностика АКПП</th>
                <td>от 599 Р</td>
            </tr>

            <tr>
                <th scope="row">Ремонт АКПП</th>
                <td>от 150 - 200 тыс. Р</td>
            </tr>
            <tr>
                <th scope="row">Замена фильтров</th>
                <td>от 700 Р</td>
            </tr>
            <tr>
                <th scope="row">Ремонт и замена сцепления</th>
                <td>от 15000 Р</td>
            </tr>
            <tr>
                <th scope="row">Ремонт и замена редуктора</th>
                <td>от 15000 Р</td>
            </tr>
            <tr>
                <th scope="row">Ремонт двигателя</th>
                <td>от 90000 Р</td>
            </tr>
            <tr>
                <th scope="row">Ремонт системы охлаждения</th>
                <td></td>
            </tr>
            <tr>
                <th scope="row">Ремонт ГБЦ</th>
                <td>от 30000 Р</td>
            </tr>
            <tr>
                <th scope="row">Кузовной ремонт</th>
                <td>от 7800 Р</td>
            </tr>
            <tr>
                <th scope="row">Ремонт системы кондиционирования</th>
                <td>от 3500 до 100000 Р</td>
            </tr>

            </tbody>
        </table>
    </div>
</section>