<section class="general-prices">
    <div class="container">
        <h2>Цены на основной ряд услуг</h2>
        <table class="table table-hover table-custom">
            <thead>
            <tr>
                <th scope="col">Название услуги</th>
                <th scope="col">Стоимость</th>

            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">Название услуги</th>
                <td>20 000 Р</td>
            </tr>
            <tr>
                <th scope="row">Название услуги</th>
                <td>20 000 Р</td>
            </tr>
            <tr>
                <th scope="row">Название услуги</th>
                <td>20 000 Р</td>
            </tr>
            <tr>
                <th scope="row">Название услуги</th>
                <td>20 000 Р</td>
            </tr>
            <tr>
                <th scope="row">Название услуги</th>
                <td>20 000 Р</td>
            </tr>
            <tr>
                <th scope="row">Название услуги</th>
                <td>20 000 Р</td>
            </tr>
            <tr>
                <th scope="row">Название услуги</th>
                <td>20 000 Р</td>
            </tr>
            <tr>
                <th scope="row">Название услуги</th>
                <td>20 000 Р</td>
            </tr>
            </tbody>
        </table>
    </div>
</section>