<div class="header__wrapper">
    <header class="container-fluid">
        <div class="top-menu container">
            <a class="header__logo" href="/">
                <div class="header__logo_audi">
                    <img src="/images/AUDI.png">
                </div>
                <img src="/images/pik.png">
            </a>
            <div class="header_logo_description">
                Ремонт и обслуживание <br>автомобилей и АУДИ
            </div>
            <div class="header__address">
                <div class="header__address_icon">
                    <img src="/images/loc.svg" alt="">
                </div>
                <div class="header_address-address">
                    <p>Москва. Ибрагимова вл.31А</p>
                    <a href="#">Посмотреть на карте</a>
                </div>
            </div>
            <div class="header__audi-partners">
                <img src="/images/audi-logo.png" width="67" alt="">
                <span>Партнёры по <br>качеству АУДИ</span>
            </div>
            <div class="header__phone">
                <div class="header__phone_icon">
                    <img src="/images/tel-icon.png" alt="">
                </div>
                <div class="header__phone_phone">
                    <a href="tel:+74993911874" class="phone_link">+7 (499) 391-18-74</a>
                    <p class="working-now">Работаем сейчас</p>
                </div>
            </div>
            <div class="header__whatsapp">
                <div class="header__whatsapp_whatsapp"><i class="fa-brands fa-whatsapp"></i></div>
                <a href="#form-popup1" class="header__callback_btn">Заказать звонок</a>
            </div>
        </div>

        <div class="banner container">
            <div class="row">
                <div class="col-lg-5 col-md-12 banner__left_wrapper">
                    <div class="banner__left-content">
                        <h1>Ремонт и техническое <br>обслуживание в <br>сертифицированном <br>автосервисе Ауди</h1>
                        <div class="banner__left-content_description">
                            Опыт с Ауди более 10 лет <br>Ремонт в день обращения <br>Гарантия до 900 дней
                        </div>
                        <div class="banner__left-content_consult">
                            <span class="consult_text">Дадим бесплатную консультацию <br>по любому вопросу с Ауди</span>
                            <a href="#form-popup1" class="consult_btn">Отправить</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 col-md-12 banner__right_wrapper">
                    <div class="banner__right-content alternative">
                        <video autoplay loop muted class="bgvideo" id="bgvideo">
                            <source src="{{ asset('video/our-sklad.mp4') }}" type="video/mp4"></source>
                        </video>
                    </div>
                </div>
            </div>
        </div>


    </header>
    <div class="banner-advantages">
        <div class="banner-advantages__item">
            <img src="/images/advantage1.svg" alt="#">
            <p>Осмотр ходовой<br>
                части авто<br>
                БЕСПЛАТНО</p>
        </div>
        <div class="banner-advantages__item">
            <img src="/images/advantage2.svg" alt="#">
            <p>Компьютерная<br>
                диагностика<br>
                499 р.</p>
        </div>
        <div class="banner-advantages__item">
            <img src="/images/advantage3.svg" alt="#">
            <p>Замена <br>масла по <br>цене 499р</p>
        </div>
    </div>

</div>