<section class="make-often">
    <div class="container">
        <h2>Часто делают</h2>
        <div class="make-often__items">
            <div class="make-often__item">
                <a href="#">
                    <img src="/images/make_often/mo1.jpg" alt="">
                </a>
                <a href="#" class="make-often__item_title">Ремонт
                    двигателя</a>
                <span class="make-often__item_description">Мотористы с опытом<br>
более 10 лет с Ауди</span>
            </div>

            <div class="make-often__item">
                <a href="#">
                    <img src="/images/make_often/mo2.jpg" alt="">
                </a>
                <a href="#" class="make-often__item_title">Диагностика
                    и ремонт электрки</a>
                <span class="make-often__item_description">Диагносты сертифицированные<br>
Ауди + дилерское оборудование</span>
            </div>

            <div class="make-often__item">
                <a href="#">
                    <img src="/images/make_often/mo3.jpg" alt="">
                </a>
                <a href="#" class="make-often__item_title">Ремонт
                    подвески</a>
                <span class="make-often__item_description">Сход-развал и специальный<br>
инструмент именно для<br>
автомобилей марки Ауди</span>
            </div>

            <div class="make-often__item">
                <a href="#">
                    <img src="/images/make_often/mo4.jpg" alt="">
                </a>
                <a href="#" class="make-often__item_title">Техническое
                    обслуживание</a>
                <span class="make-often__item_description">Замена масла<br>
499р</span>
            </div>

            <div class="make-often__item">
                <a href="#">
                    <img src="/images/make_often/mo5.jpg" alt="">
                </a>
                <a href="#" class="make-often__item_title">Ремонт АКПП/
                    Вариаторов/Роботов</a>
                <span class="make-often__item_description">ДСГ 7/6</span>
            </div>
        </div>
    </div>
</section>