<section class="numbers">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Мы в цифрах</h2>
            </div>
            <div class="col-lg-12 numbers__container">
                <div class="number1">
                    <span class="number__number">
                        2010
                    </span>
                    <span class="number__description">
                        Год основания
компании
                    </span>
                </div>
                <div class="number2">
                    <span class="number__number">
                        14
                    </span>
                    <span class="number__description">
                        Подъемников
в работе
                    </span>
                </div>
                <div class="number3">
                    <span class="number__number">
                        100%
                    </span>
                    <span class="number__description">
                        Сотрудников имеют
более 5 лет опыта
                    </span>
                </div>
                <div class="number4">
                    <span class="number__number">
                        120
                    </span>
                    <span class="number__description">
                        Сотрудников
в штате
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>