<section class="offers">
    <div class="container">
        <h2>Изучите наши актуальные акции</h2>
        <div class="offers__container">
            <div class="offers__item">
                <div class="offers__item_content">
                    <span class="offer_name">
                        Компьютерная <br>диагностика
                    </span>
                    <span class="offer_subtitle">
                        {#ЗАМЕНА МАСЛА в АКПП#}
                    </span>
                    <span class="offer_price">499 руб</span>
                </div>
                <div class="offers__item_button">
                    <a href="#form-popup1" class="offer_btn">Записаться</a>
                </div>
            </div>
            <div class="offers__item">
                <div class="offers__item_content">
                    <span class="offer_name">
                        Диагностика <br>подвески
                    </span>
                    <span class="offer_subtitle">
                        {#ЗАМЕНА МАСЛА в АКПП#}
                    </span>
                    <span class="offer_price">Бесплатно</span>
                </div>
                <div class="offers__item_button">
                    <a href="#form-popup1" class="offer_btn">Записаться</a>
                </div>
            </div>
            <div class="offers__item">
                <div class="offers__item_content">
                    <span class="offer_name">
                        Замена масла
                    </span>
                    <span class="offer_subtitle">
                        {#ЗАМЕНА МАСЛА в АКПП#}
                    </span>
                    <span class="offer_price">499 руб</span>
                </div>
                <div class="offers__item_button">
                    <a href="#form-popup1" class="offer_btn">Записаться</a>
                </div>
            </div>
            <div class="offers__item">
                <div class="offers__item_content">
                    <span class="offer_name">
                        Консультация
                    </span>
                    <span class="offer_subtitle">
                        ПО ТЕЛЕФОНУ И В СЕРВИСЕ
                    </span>
                    <span class="offer_price">Бесплатно</span>
                </div>
                <div class="offers__item_button">
                    <a href="#form-popup1" class="offer_btn">Записаться</a>
                </div>
            </div>
        </div>
    </div>
</section>