<section class="offers">
    <div class="container">
        <h2>Изучите наши актуальные акции</h2>
        <div class="offers__container">
            <div class="offers__item">
                <div class="offers__item_content">
                    <span class="offer_name">
                        Название акции
                    </span>
                    <span class="offer_subtitle">
                        ЗАМЕНА МАСЛА в АКПП
                    </span>
                    <span class="offer_price">от 9500 руб</span>
                </div>
                <div class="offers__item_button">
                    <a href="#form-popup1" class="offer_btn">Записаться</a>
                </div>
            </div>
            <div class="offers__item">
                <div class="offers__item_content">
                    <span class="offer_name">
                        Название акции
                    </span>
                    <span class="offer_subtitle">
                        ЗАМЕНА МАСЛА в АКПП
                    </span>
                    <span class="offer_price">от 9500 руб</span>
                </div>
                <div class="offers__item_button">
                    <a href="#form-popup1" class="offer_btn">Записаться</a>
                </div>
            </div>
            <div class="offers__item">
                <div class="offers__item_content">
                    <span class="offer_name">
                        Название акции
                    </span>
                    <span class="offer_subtitle">
                        ЗАМЕНА МАСЛА в АКПП
                    </span>
                    <span class="offer_price">от 9500 руб</span>
                </div>
                <div class="offers__item_button">
                    <a href="#form-popup1" class="offer_btn">Записаться</a>
                </div>
            </div>
            <div class="offers__item">
                <div class="offers__item_content">
                    <span class="offer_name">
                        Название акции
                    </span>
                    <span class="offer_subtitle">
                        ЗАМЕНА МАСЛА в АКПП
                    </span>
                    <span class="offer_price">от 9500 руб</span>
                </div>
                <div class="offers__item_button">
                    <a href="#form-popup1" class="offer_btn">Записаться</a>
                </div>
            </div>
        </div>
    </div>
</section>