<section class="our-video">
    <div class="container">
        <h2>Видео с нашей станции</h2>
        <div class="our-video__items">

            <div class="our-video__item">
                <iframe width="360" height="280" src="https://www.youtube.com/embed/mzBhy9Fp4m4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

            <div class="our-video__item">
                <iframe width="360" height="280" src="https://www.youtube.com/embed/mzBhy9Fp4m4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

            <div class="our-video__item">
                <iframe width="360" height="280" src="https://www.youtube.com/embed/mzBhy9Fp4m4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

        </div>
    </div>
</section>