<section class="photo-service">
    <div class="container">
        <h2>Фото сервиса</h2>

        <div class="row">
            <div class="col-lg-6 col-md-12">
                <p class="photo-service__slider_title">
                    Техническая зона
                </p>
                <div class="photo-service__slick1">
                    <img src="/images/photo-service/tech/1.jpg" alt="">
                    <img src="/images/photo-service/tech/2.jpg" alt="">
                    <img src="/images/photo-service/tech/3.jpg" alt="">
                    <img src="/images/photo-service/tech/4.jpg" alt="">
                    <img src="/images/photo-service/tech/5.jpg" alt="">
                    <img src="/images/photo-service/tech/6.jpg" alt="">
                    <img src="/images/photo-service/tech/7.jpg" alt="">
                    <img src="/images/photo-service/tech/8.jpg" alt="">
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <p class="photo-service__slider_title">
                    Лаунж зона
                </p>
                <div class="photo-service__slick2">
                    <img src="/images/photo-service/laung/5.jpg" alt="">
                    <img src="/images/photo-service/laung/2.jpg" alt="">
                    <img src="/images/photo-service/laung/3.jpg" alt="">
                    <img src="/images/photo-service/laung/4.jpg" alt="">
                    <img src="/images/photo-service/laung/1.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>