<section class="reviews">
    <div class="container">
        <div class="row">
            <div class="col-12 reviews__title">
                <h2>Отзывы наших клиентов</h2>
            </div>
            <div class="col-12 reviews__links">
                <ul class="nav nav-tabs reviews__tablist" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="all-tab" data-bs-toggle="tab" data-bs-target="#all" type="button" role="tab" aria-controls="all" aria-selected="true">Все отзывы</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="drive-tab" data-bs-toggle="tab" data-bs-target="#drive" type="button" role="tab" aria-controls="drive" aria-selected="false">Drive2</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="google-tab" data-bs-toggle="tab" data-bs-target="#google" type="button" role="tab" aria-controls="google" aria-selected="false">Google Maps</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="gis-tab" data-bs-toggle="tab" data-bs-target="#gis" type="button" role="tab" aria-controls="gis" aria-selected="false">2ГИС</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="yandexmap-tab" data-bs-toggle="tab" data-bs-target="#yandexmap" type="button" role="tab" aria-controls="yandexmap" aria-selected="false">Яндекс.Карты</button>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="all-tab">
                        <div class="all-reviews">
                            <div class="reviews__slider_item">
                                <div class="reviews__slider_item_header">
                                    <div class="reviews__slider_item_icon">
                                        <span>VL</span>
                                    </div>
                                    <div class="reviews__slider_item_name">
                                        <span>Vitya Li</span>
                                        <span>22 мартк</span>
                                    </div>
                                    <div class="reviews__slider_item_rating">
                                        <div class="reviews__slider_item_stars">
                                            <img src="/images/icons/star.svg" alt="">
                                            <img src="/images/icons/star.svg" alt="">
                                            <img src="/images/icons/star.svg" alt="">
                                            <img src="/images/icons/star.svg" alt="">
                                            <img src="/images/icons/star.svg" alt="">
                                        </div>
                                        <span class="reviews__slider_item_rate">5.0</span>
                                    </div>
                                </div>

                                <div class="reviews__slider_item_body">
                                    <p>Делалось год назад
                                        Все руки не доходили завести новый блог 😧
                                        После покупки заметил на холодную дребезжание. И как многих пугает цепь грм после 100тыс пробега приговорил ее к замене почитав драйв по моторам n20
                                        Делал все в автосервисе ПИК на кушелевской дороге 20
                                        И цена более чем нормальная и гарантию дают 👷‍♂️ </p>
                                </div>

                                <div class="reviews__slider_item_link">
                                    <a href="https://www.drive2.ru/l/598356702810613301/" target="_blank">Отзыв из 2Drive</a>
                                </div>
                            </div>
                            <div class="reviews__slider_item">
                                <div class="reviews__slider_item_header">
                                    <div class="reviews__slider_item_icon">
                                        <span>CV</span>
                                    </div>
                                    <div class="reviews__slider_item_name">
                                        <span>cvetastyi</span>
                                        <span>24 июня</span>
                                    </div>
                                    <div class="reviews__slider_item_rating">
                                        <div class="reviews__slider_item_stars">
                                            <img src="/images/icons/star.svg" alt="">
                                            <img src="/images/icons/star.svg" alt="">
                                            <img src="/images/icons/star.svg" alt="">
                                            <img src="/images/icons/star.svg" alt="">
                                            <img src="/images/icons/star.svg" alt="">
                                        </div>
                                        <span class="reviews__slider_item_rate">5.0</span>
                                    </div>
                                </div>

                                <div class="reviews__slider_item_body">
                                    <p>Т.к машина мне досталась с пробегом 130 т.км., первым делом было решено сделать ТО + передние тормоза уже были с лютым износом и "били" с 70 до 90 км/ч.
                                        После штудирования интернета было решено ехать в Автоцентр ПИК, все сделали, показали на все косяки которые нужно исправить, пока всем доволен.</p>
                                </div>

                                <div class="reviews__slider_item_link">
                                    <a href="https://www.drive2.ru/l/563687177041480581/" target="_blank">Отзыв из 2Drive</a>
                                </div>
                            </div>
                            <div class="reviews__slider_item">
                                <div class="reviews__slider_item_header">
                                    <div class="reviews__slider_item_icon">
                                        <span>AN</span>
                                    </div>
                                    <div class="reviews__slider_item_name">
                                        <span>AndrewSPB98</span>
                                        <span>2 июня</span>
                                    </div>
                                    <div class="reviews__slider_item_rating">
                                        <div class="reviews__slider_item_stars">
                                            <img src="/images/icons/star.svg" alt="">
                                            <img src="/images/icons/star.svg" alt="">
                                            <img src="/images/icons/star.svg" alt="">
                                            <img src="/images/icons/star.svg" alt="">
                                            <img src="/images/icons/star.svg" alt="">
                                        </div>
                                        <span class="reviews__slider_item_rate">5.0</span>
                                    </div>
                                </div>

                                <div class="reviews__slider_item_body">
                                    <p>Продолжается обслуживание машины после покупки. Заменено масло акпп, раздатки, редукторах. Попутно заменён топливный фильтр и обслужены пневмобаллонны. Обнаружен текущий электронный амортизатор. Привет, гарантия. Делал в ПИКе на Кушелевской дороге. Познакомился с директором компании. Положительные впечатления. Пробег 59500</p>
                                </div>

                                <div class="reviews__slider_item_link">
                                    <a href="https://www.drive2.ru/l/537557283207381171/" target="_blank">Отзыв из 2Drive</a>
                                </div>
                            </div>
                            <div class="reviews__slider_item">
                                <div class="reviews__slider_item_header">
                                    <div class="reviews__slider_item_icon">
                                        <span>ED</span>
                                    </div>
                                    <div class="reviews__slider_item_name">
                                        <span>Ed351</span>
                                        <span>24 сентября</span>
                                    </div>
                                    <div class="reviews__slider_item_rating">
                                        <div class="reviews__slider_item_stars">
                                            <img src="/images/icons/star.svg" alt="">
                                            <img src="/images/icons/star.svg" alt="">
                                            <img src="/images/icons/star.svg" alt="">
                                            <img src="/images/icons/star.svg" alt="">
                                            <img src="/images/icons/star.svg" alt="">
                                        </div>
                                        <span class="reviews__slider_item_rate">5.0</span>
                                    </div>
                                </div>

                                <div class="reviews__slider_item_body">
                                    <p>Давно я ничего не писал в бортжурнал, не было причины. Машина монотонно наматывала километры дорог. На 136 тысячах опять сменил масло в двигателе и фильтра. А вот ближе к 140 тысячам машина стала периодически выдавать ошибку по датчику угла наклона фар. На Драйве были аналогичные посты, и проблема очень часто была в проводке к заднему датчику. Будучи в почти как домашнем LOFTCAR, я попросил соседей</p>
                                </div>

                                <div class="reviews__slider_item_link">
                                    <a href="https://www.drive2.ru/l/531231517934880230/" target="_blank">Отзыв из 2Drive</a>
                                </div>
                            </div>
                            <div class="reviews__slider_item">
                                <div class="reviews__slider_item_header">
                                    <div class="reviews__slider_item_icon">
                                        <span>ИФ</span>
                                    </div>
                                    <div class="reviews__slider_item_name">
                                        <span>Имя Фамилия</span>
                                        <span>24 июня</span>
                                    </div>
                                    <div class="reviews__slider_item_rating">
                                        <div class="reviews__slider_item_stars">
                                            <img src="/images/icons/star.svg" alt="">
                                            <img src="/images/icons/star.svg" alt="">
                                            <img src="/images/icons/star.svg" alt="">
                                            <img src="/images/icons/star.svg" alt="">
                                            <img src="/images/icons/star.svg" alt="">
                                        </div>
                                        <span class="reviews__slider_item_rate">5.0</span>
                                    </div>
                                </div>

                                <div class="reviews__slider_item_body">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                                </div>

                                <div class="reviews__slider_item_link">
                                    <a href="#" target="_blank">Отзыв из 2ГИС</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="drive" role="tabpanel" aria-labelledby="drive-tab">
                        <div class="drive-reviews">
                            <div class="reviews__slider_item">
                                <div class="reviews__slider_item_header">
                                    <div class="reviews__slider_item_icon">
                                        <span>VL</span>
                                    </div>
                                    <div class="reviews__slider_item_name">
                                        <span>Vitya Li</span>
                                        <span>22 мартк</span>
                                    </div>
                                    <div class="reviews__slider_item_rating">
                                        <div class="reviews__slider_item_stars">
                                            <img src="/images/icons/star.svg" alt="">
                                            <img src="/images/icons/star.svg" alt="">
                                            <img src="/images/icons/star.svg" alt="">
                                            <img src="/images/icons/star.svg" alt="">
                                            <img src="/images/icons/star.svg" alt="">
                                        </div>
                                        <span class="reviews__slider_item_rate">5.0</span>
                                    </div>
                                </div>

                                <div class="reviews__slider_item_body">
                                    <p>Делалось год назад
                                        Все руки не доходили завести новый блог 😧
                                        После покупки заметил на холодную дребезжание. И как многих пугает цепь грм после 100тыс пробега приговорил ее к замене почитав драйв по моторам n20
                                        Делал все в автосервисе ПИК на кушелевской дороге 20
                                        И цена более чем нормальная и гарантию дают 👷‍♂️ </p>
                                </div>

                                <div class="reviews__slider_item_link">
                                    <a href="https://www.drive2.ru/l/598356702810613301/" target="_blank">Отзыв из 2Drive</a>
                                </div>
                            </div>
                            <div class="reviews__slider_item">
                                <div class="reviews__slider_item_header">
                                    <div class="reviews__slider_item_icon">
                                        <span>CV</span>
                                    </div>
                                    <div class="reviews__slider_item_name">
                                        <span>cvetastyi</span>
                                        <span>24 июня</span>
                                    </div>
                                    <div class="reviews__slider_item_rating">
                                        <div class="reviews__slider_item_stars">
                                            <img src="/images/icons/star.svg" alt="">
                                            <img src="/images/icons/star.svg" alt="">
                                            <img src="/images/icons/star.svg" alt="">
                                            <img src="/images/icons/star.svg" alt="">
                                            <img src="/images/icons/star.svg" alt="">
                                        </div>
                                        <span class="reviews__slider_item_rate">5.0</span>
                                    </div>
                                </div>

                                <div class="reviews__slider_item_body">
                                    <p>Т.к машина мне досталась с пробегом 130 т.км., первым делом было решено сделать ТО + передние тормоза уже были с лютым износом и "били" с 70 до 90 км/ч.
                                        После штудирования интернета было решено ехать в Автоцентр ПИК, все сделали, показали на все косяки которые нужно исправить, пока всем доволен.</p>
                                </div>

                                <div class="reviews__slider_item_link">
                                    <a href="https://www.drive2.ru/l/563687177041480581/" target="_blank">Отзыв из 2Drive</a>
                                </div>
                            </div>
                            <div class="reviews__slider_item">
                                <div class="reviews__slider_item_header">
                                    <div class="reviews__slider_item_icon">
                                        <span>AN</span>
                                    </div>
                                    <div class="reviews__slider_item_name">
                                        <span>AndrewSPB98</span>
                                        <span>2 июня</span>
                                    </div>
                                    <div class="reviews__slider_item_rating">
                                        <div class="reviews__slider_item_stars">
                                            <img src="/images/icons/star.svg" alt="">
                                            <img src="/images/icons/star.svg" alt="">
                                            <img src="/images/icons/star.svg" alt="">
                                            <img src="/images/icons/star.svg" alt="">
                                            <img src="/images/icons/star.svg" alt="">
                                        </div>
                                        <span class="reviews__slider_item_rate">5.0</span>
                                    </div>
                                </div>

                                <div class="reviews__slider_item_body">
                                    <p>Продолжается обслуживание машины после покупки. Заменено масло акпп, раздатки, редукторах. Попутно заменён топливный фильтр и обслужены пневмобаллонны. Обнаружен текущий электронный амортизатор. Привет, гарантия. Делал в ПИКе на Кушелевской дороге. Познакомился с директором компании. Положительные впечатления. Пробег 59500</p>
                                </div>

                                <div class="reviews__slider_item_link">
                                    <a href="https://www.drive2.ru/l/537557283207381171/" target="_blank">Отзыв из 2Drive</a>
                                </div>
                            </div>
                            <div class="reviews__slider_item">
                                <div class="reviews__slider_item_header">
                                    <div class="reviews__slider_item_icon">
                                        <span>ED</span>
                                    </div>
                                    <div class="reviews__slider_item_name">
                                        <span>Ed351</span>
                                        <span>24 сентября</span>
                                    </div>
                                    <div class="reviews__slider_item_rating">
                                        <div class="reviews__slider_item_stars">
                                            <img src="/images/icons/star.svg" alt="">
                                            <img src="/images/icons/star.svg" alt="">
                                            <img src="/images/icons/star.svg" alt="">
                                            <img src="/images/icons/star.svg" alt="">
                                            <img src="/images/icons/star.svg" alt="">
                                        </div>
                                        <span class="reviews__slider_item_rate">5.0</span>
                                    </div>
                                </div>

                                <div class="reviews__slider_item_body">
                                    <p>Давно я ничего не писал в бортжурнал, не было причины. Машина монотонно наматывала километры дорог. На 136 тысячах опять сменил масло в двигателе и фильтра. А вот ближе к 140 тысячам машина стала периодически выдавать ошибку по датчику угла наклона фар. На Драйве были аналогичные посты, и проблема очень часто была в проводке к заднему датчику. Будучи в почти как домашнем LOFTCAR, я попросил соседей</p>
                                </div>

                                <div class="reviews__slider_item_link">
                                    <a href="https://www.drive2.ru/l/531231517934880230/" target="_blank">Отзыв из 2Drive</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="google" role="tabpanel" aria-labelledby="google-tab">
                        <div class="google-reviews">
                            <div class="reviews__slider_item">
                                <div class="reviews__slider_item_header">
                                    <div class="reviews__slider_item_icon">
                                        <span>ИФ</span>
                                    </div>
                                    <div class="reviews__slider_item_name">
                                        <span>Имя Фамилия</span>
                                        <span>24 июня</span>
                                    </div>
                                    <div class="reviews__slider_item_rating">
                                        <div class="reviews__slider_item_stars">
                                            <img src="/images/icons/star.svg" alt="">
                                            <img src="/images/icons/star.svg" alt="">
                                            <img src="/images/icons/star.svg" alt="">
                                            <img src="/images/icons/star.svg" alt="">
                                            <img src="/images/icons/star.svg" alt="">
                                        </div>
                                        <span class="reviews__slider_item_rate">5.0</span>
                                    </div>
                                </div>

                                <div class="reviews__slider_item_body">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                                </div>

                                <div class="reviews__slider_item_link">
                                    <a href="#" target="_blank">Отзыв из 2ГИС</a>
                                </div>
                            </div>
                            <div class="reviews__slider_item">
                                <div class="reviews__slider_item_header">
                                    <div class="reviews__slider_item_icon">
                                        <span>ИФ</span>
                                    </div>
                                    <div class="reviews__slider_item_name">
                                        <span>Имя Фамилия</span>
                                        <span>24 июня</span>
                                    </div>
                                    <div class="reviews__slider_item_rating">
                                        <div class="reviews__slider_item_stars">
                                            <img src="/images/icons/star.svg" alt="">
                                            <img src="/images/icons/star.svg" alt="">
                                            <img src="/images/icons/star.svg" alt="">
                                            <img src="/images/icons/star.svg" alt="">
                                            <img src="/images/icons/star.svg" alt="">
                                        </div>
                                        <span class="reviews__slider_item_rate">5.0</span>
                                    </div>
                                </div>

                                <div class="reviews__slider_item_body">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                                </div>

                                <div class="reviews__slider_item_link">
                                    <a href="#" target="_blank">Отзыв из 2ГИС</a>
                                </div>
                            </div>
                            <div class="reviews__slider_item">
                                <div class="reviews__slider_item_header">
                                    <div class="reviews__slider_item_icon">
                                        <span>ИФ</span>
                                    </div>
                                    <div class="reviews__slider_item_name">
                                        <span>Имя Фамилия</span>
                                        <span>24 июня</span>
                                    </div>
                                    <div class="reviews__slider_item_rating">
                                        <div class="reviews__slider_item_stars">
                                            <img src="/images/icons/star.svg" alt="">
                                            <img src="/images/icons/star.svg" alt="">
                                            <img src="/images/icons/star.svg" alt="">
                                            <img src="/images/icons/star.svg" alt="">
                                            <img src="/images/icons/star.svg" alt="">
                                        </div>
                                        <span class="reviews__slider_item_rate">5.0</span>
                                    </div>
                                </div>

                                <div class="reviews__slider_item_body">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                                </div>

                                <div class="reviews__slider_item_link">
                                    <a href="#" target="_blank">Отзыв из 2ГИС</a>
                                </div>
                            </div>
                            <div class="reviews__slider_item">
                                <div class="reviews__slider_item_header">
                                    <div class="reviews__slider_item_icon">
                                        <span>ИФ</span>
                                    </div>
                                    <div class="reviews__slider_item_name">
                                        <span>Имя Фамилия</span>
                                        <span>24 июня</span>
                                    </div>
                                    <div class="reviews__slider_item_rating">
                                        <div class="reviews__slider_item_stars">
                                            <img src="/images/icons/star.svg" alt="">
                                            <img src="/images/icons/star.svg" alt="">
                                            <img src="/images/icons/star.svg" alt="">
                                            <img src="/images/icons/star.svg" alt="">
                                            <img src="/images/icons/star.svg" alt="">
                                        </div>
                                        <span class="reviews__slider_item_rate">5.0</span>
                                    </div>
                                </div>

                                <div class="reviews__slider_item_body">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                                </div>

                                <div class="reviews__slider_item_link">
                                    <a href="#" target="_blank">Отзыв из 2ГИС</a>
                                </div>
                            </div>
                            <div class="reviews__slider_item">
                                <div class="reviews__slider_item_header">
                                    <div class="reviews__slider_item_icon">
                                        <span>ИФ</span>
                                    </div>
                                    <div class="reviews__slider_item_name">
                                        <span>Имя Фамилия</span>
                                        <span>24 июня</span>
                                    </div>
                                    <div class="reviews__slider_item_rating">
                                        <div class="reviews__slider_item_stars">
                                            <img src="/images/icons/star.svg" alt="">
                                            <img src="/images/icons/star.svg" alt="">
                                            <img src="/images/icons/star.svg" alt="">
                                            <img src="/images/icons/star.svg" alt="">
                                            <img src="/images/icons/star.svg" alt="">
                                        </div>
                                        <span class="reviews__slider_item_rate">5.0</span>
                                    </div>
                                </div>

                                <div class="reviews__slider_item_body">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                                </div>

                                <div class="reviews__slider_item_link">
                                    <a href="#" target="_blank">Отзыв из 2ГИС</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="gis" role="tabpanel" aria-labelledby="gis-tab">
                        <div class="gis-reviews">
                            <div class="reviews__slider_item">
                                <div class="reviews__slider_item_header">
                                    <div class="reviews__slider_item_icon">
                                        <span>ИФ</span>
                                    </div>
                                    <div class="reviews__slider_item_name">
                                        <span>Имя Фамилия</span>
                                        <span>24 июня</span>
                                    </div>
                                    <div class="reviews__slider_item_rating">
                                        <div class="reviews__slider_item_stars">
                                            <img src="/images/icons/star.svg" alt="">
                                            <img src="/images/icons/star.svg" alt="">
                                            <img src="/images/icons/star.svg" alt="">
                                            <img src="/images/icons/star.svg" alt="">
                                            <img src="/images/icons/star.svg" alt="">
                                        </div>
                                        <span class="reviews__slider_item_rate">5.0</span>
                                    </div>
                                </div>

                                <div class="reviews__slider_item_body">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                                </div>

                                <div class="reviews__slider_item_link">
                                    <a href="#" target="_blank">Отзыв из 2ГИС</a>
                                </div>
                            </div>
                            <div class="reviews__slider_item">
                                <div class="reviews__slider_item_header">
                                    <div class="reviews__slider_item_icon">
                                        <span>ИФ</span>
                                    </div>
                                    <div class="reviews__slider_item_name">
                                        <span>Имя Фамилия</span>
                                        <span>24 июня</span>
                                    </div>
                                    <div class="reviews__slider_item_rating">
                                        <div class="reviews__slider_item_stars">
                                            <img src="/images/icons/star.svg" alt="">
                                            <img src="/images/icons/star.svg" alt="">
                                            <img src="/images/icons/star.svg" alt="">
                                            <img src="/images/icons/star.svg" alt="">
                                            <img src="/images/icons/star.svg" alt="">
                                        </div>
                                        <span class="reviews__slider_item_rate">5.0</span>
                                    </div>
                                </div>

                                <div class="reviews__slider_item_body">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                                </div>

                                <div class="reviews__slider_item_link">
                                    <a href="#" target="_blank">Отзыв из 2ГИС</a>
                                </div>
                            </div>
                            <div class="reviews__slider_item">
                                <div class="reviews__slider_item_header">
                                    <div class="reviews__slider_item_icon">
                                        <span>ИФ</span>
                                    </div>
                                    <div class="reviews__slider_item_name">
                                        <span>Имя Фамилия</span>
                                        <span>24 июня</span>
                                    </div>
                                    <div class="reviews__slider_item_rating">
                                        <div class="reviews__slider_item_stars">
                                            <img src="/images/icons/star.svg" alt="">
                                            <img src="/images/icons/star.svg" alt="">
                                            <img src="/images/icons/star.svg" alt="">
                                            <img src="/images/icons/star.svg" alt="">
                                            <img src="/images/icons/star.svg" alt="">
                                        </div>
                                        <span class="reviews__slider_item_rate">5.0</span>
                                    </div>
                                </div>

                                <div class="reviews__slider_item_body">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                                </div>

                                <div class="reviews__slider_item_link">
                                    <a href="#" target="_blank">Отзыв из 2ГИС</a>
                                </div>
                            </div>
                            <div class="reviews__slider_item">
                                <div class="reviews__slider_item_header">
                                    <div class="reviews__slider_item_icon">
                                        <span>ИФ</span>
                                    </div>
                                    <div class="reviews__slider_item_name">
                                        <span>Имя Фамилия</span>
                                        <span>24 июня</span>
                                    </div>
                                    <div class="reviews__slider_item_rating">
                                        <div class="reviews__slider_item_stars">
                                            <img src="/images/icons/star.svg" alt="">
                                            <img src="/images/icons/star.svg" alt="">
                                            <img src="/images/icons/star.svg" alt="">
                                            <img src="/images/icons/star.svg" alt="">
                                            <img src="/images/icons/star.svg" alt="">
                                        </div>
                                        <span class="reviews__slider_item_rate">5.0</span>
                                    </div>
                                </div>

                                <div class="reviews__slider_item_body">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                                </div>

                                <div class="reviews__slider_item_link">
                                    <a href="#" target="_blank">Отзыв из 2ГИС</a>
                                </div>
                            </div>
                            <div class="reviews__slider_item">
                                <div class="reviews__slider_item_header">
                                    <div class="reviews__slider_item_icon">
                                        <span>ИФ</span>
                                    </div>
                                    <div class="reviews__slider_item_name">
                                        <span>Имя Фамилия</span>
                                        <span>24 июня</span>
                                    </div>
                                    <div class="reviews__slider_item_rating">
                                        <div class="reviews__slider_item_stars">
                                            <img src="/images/icons/star.svg" alt="">
                                            <img src="/images/icons/star.svg" alt="">
                                            <img src="/images/icons/star.svg" alt="">
                                            <img src="/images/icons/star.svg" alt="">
                                            <img src="/images/icons/star.svg" alt="">
                                        </div>
                                        <span class="reviews__slider_item_rate">5.0</span>
                                    </div>
                                </div>

                                <div class="reviews__slider_item_body">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                                </div>

                                <div class="reviews__slider_item_link">
                                    <a href="#" target="_blank">Отзыв из 2ГИС</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="yandexmap" role="tabpanel" aria-labelledby="yandexmap-tab">
                        <div class="yandex-reviews">
                            <div class="reviews__slider_item">
                                <div class="reviews__slider_item_header">
                                    <div class="reviews__slider_item_icon">
                                        <span>ИФ</span>
                                    </div>
                                    <div class="reviews__slider_item_name">
                                        <span>Имя Фамилия</span>
                                        <span>24 июня</span>
                                    </div>
                                    <div class="reviews__slider_item_rating">
                                        <div class="reviews__slider_item_stars">
                                            <img src="/images/icons/star.svg" alt="">
                                            <img src="/images/icons/star.svg" alt="">
                                            <img src="/images/icons/star.svg" alt="">
                                            <img src="/images/icons/star.svg" alt="">
                                            <img src="/images/icons/star.svg" alt="">
                                        </div>
                                        <span class="reviews__slider_item_rate">5.0</span>
                                    </div>
                                </div>

                                <div class="reviews__slider_item_body">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                                </div>

                                <div class="reviews__slider_item_link">
                                    <a href="#" target="_blank">Отзыв из 2ГИС</a>
                                </div>
                            </div>
                            <div class="reviews__slider_item">
                                <div class="reviews__slider_item_header">
                                    <div class="reviews__slider_item_icon">
                                        <span>ИФ</span>
                                    </div>
                                    <div class="reviews__slider_item_name">
                                        <span>Имя Фамилия</span>
                                        <span>24 июня</span>
                                    </div>
                                    <div class="reviews__slider_item_rating">
                                        <div class="reviews__slider_item_stars">
                                            <img src="/images/icons/star.svg" alt="">
                                            <img src="/images/icons/star.svg" alt="">
                                            <img src="/images/icons/star.svg" alt="">
                                            <img src="/images/icons/star.svg" alt="">
                                            <img src="/images/icons/star.svg" alt="">
                                        </div>
                                        <span class="reviews__slider_item_rate">5.0</span>
                                    </div>
                                </div>

                                <div class="reviews__slider_item_body">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                                </div>

                                <div class="reviews__slider_item_link">
                                    <a href="#" target="_blank">Отзыв из 2ГИС</a>
                                </div>
                            </div>
                            <div class="reviews__slider_item">
                                <div class="reviews__slider_item_header">
                                    <div class="reviews__slider_item_icon">
                                        <span>ИФ</span>
                                    </div>
                                    <div class="reviews__slider_item_name">
                                        <span>Имя Фамилия</span>
                                        <span>24 июня</span>
                                    </div>
                                    <div class="reviews__slider_item_rating">
                                        <div class="reviews__slider_item_stars">
                                            <img src="/images/icons/star.svg" alt="">
                                            <img src="/images/icons/star.svg" alt="">
                                            <img src="/images/icons/star.svg" alt="">
                                            <img src="/images/icons/star.svg" alt="">
                                            <img src="/images/icons/star.svg" alt="">
                                        </div>
                                        <span class="reviews__slider_item_rate">5.0</span>
                                    </div>
                                </div>

                                <div class="reviews__slider_item_body">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                                </div>

                                <div class="reviews__slider_item_link">
                                    <a href="#" target="_blank">Отзыв из 2ГИС</a>
                                </div>
                            </div>
                            <div class="reviews__slider_item">
                                <div class="reviews__slider_item_header">
                                    <div class="reviews__slider_item_icon">
                                        <span>ИФ</span>
                                    </div>
                                    <div class="reviews__slider_item_name">
                                        <span>Имя Фамилия</span>
                                        <span>24 июня</span>
                                    </div>
                                    <div class="reviews__slider_item_rating">
                                        <div class="reviews__slider_item_stars">
                                            <img src="/images/icons/star.svg" alt="">
                                            <img src="/images/icons/star.svg" alt="">
                                            <img src="/images/icons/star.svg" alt="">
                                            <img src="/images/icons/star.svg" alt="">
                                            <img src="/images/icons/star.svg" alt="">
                                        </div>
                                        <span class="reviews__slider_item_rate">5.0</span>
                                    </div>
                                </div>

                                <div class="reviews__slider_item_body">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                                </div>

                                <div class="reviews__slider_item_link">
                                    <a href="#" target="_blank">Отзыв из 2ГИС</a>
                                </div>
                            </div>
                            <div class="reviews__slider_item">
                                <div class="reviews__slider_item_header">
                                    <div class="reviews__slider_item_icon">
                                        <span>ИФ</span>
                                    </div>
                                    <div class="reviews__slider_item_name">
                                        <span>Имя Фамилия</span>
                                        <span>24 июня</span>
                                    </div>
                                    <div class="reviews__slider_item_rating">
                                        <div class="reviews__slider_item_stars">
                                            <img src="/images/icons/star.svg" alt="">
                                            <img src="/images/icons/star.svg" alt="">
                                            <img src="/images/icons/star.svg" alt="">
                                            <img src="/images/icons/star.svg" alt="">
                                            <img src="/images/icons/star.svg" alt="">
                                        </div>
                                        <span class="reviews__slider_item_rate">5.0</span>
                                    </div>
                                </div>

                                <div class="reviews__slider_item_body">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                                </div>

                                <div class="reviews__slider_item_link">
                                    <a href="#" target="_blank">Отзыв из 2ГИС</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>