<section class="services">
    <div class="container">
        <h2>Все услуги</h2>
        <div class="services__items">
            <div class="services__items_line">
                <div class="services__item">
                    <img src="/images/services/to.png" alt="">
                    <span>Техническое обслуживание</span>
                </div>
                <div class="services__item">
                    <img src="/images/services/chod-razval.png" alt="">
                    <span>Сход-развал</span>
                </div>
                <div class="services__item">
                    <img src="/images/services/detailing.png" alt="">
                    <span>Детейлинг</span>
                </div>
                <div class="services__item">
                    <img src="/images/services/diagnostika.png" alt="">
                    <span>Диагностика</span>
                </div>
                <div class="services__item">
                    <img src="/images/services/dizel.png" alt="">
                    <span>Ремонт дизельных двигателей</span>
                </div>
                <div class="services__item">
                    <img src="/images/services/rem-dvigatelya.png" alt="">
                    <span>Ремонт двигателя</span>
                </div>
                <div class="services__item">
                    <img src="/images/services/rem-akpp.png" alt="">
                    <span>Ремонт АКПП</span>
                </div>
            </div>
            <div class="services__items_line">
                <div class="services__item">
                    <img src="/images/services/rem-elektro.png" alt="">
                    <span>Ремонт электрооборудования</span>
                </div>
                <div class="services__item">
                    <img src="/images/services/rem-hodovoy.png" alt="">
                    <span>Ремонт ходовой</span>
                </div>
                <div class="services__item">
                    <img src="/images/services/rem-podveski.png" alt="">
                    <span>Ремонт подвески</span>
                </div>
                <div class="services__item">
                    <img src="/images/services/shinomontag.png" alt="">
                    <span>Шиномонтаж</span>
                </div>
                <div class="services__item">
                    <img src="/images/services/rem-vihlop.png" alt="">
                    <span>Ремонт выхлопной системы</span>
                </div>
                <div class="services__item">
                    <img src="/images/services/tormoznaya.png" alt="">
                    <span>Тормозная система</span>
                </div>
                <div class="services__item">
                    <img src="/images/services/katalizator.png" alt="">
                    <span>Замена катализатора</span>
                </div>
            </div>


        </div>

        <div class="services__items_mobile">
            <div class="services__item">
                <img src="/images/services/to.png" alt="">
                <span>Техническое обслуживание</span>
            </div>
            <div class="services__item">
                <img src="/images/services/chod-razval.png" alt="">
                <span>Сход-развал</span>
            </div>
            <div class="services__item">
                <img src="/images/services/detailing.png" alt="">
                <span>Детейлинг</span>
            </div>
            <div class="services__item">
                <img src="/images/services/diagnostika.png" alt="">
                <span>Диагностика</span>
            </div>
            <div class="services__item">
                <img src="/images/services/dizel.png" alt="">
                <span>Ремонт дизельных двигателей</span>
            </div>
            <div class="services__item">
                <img src="/images/services/rem-dvigatelya.png" alt="">
                <span>Ремонт двигателя</span>
            </div>
            <div class="services__item">
                <img src="/images/services/rem-akpp.png" alt="">
                <span>Ремонт АКПП</span>
            </div>
            <div class="services__item">
                <img src="/images/services/rem-elektro.png" alt="">
                <span>Ремонт электрооборудования</span>
            </div>
            <div class="services__item">
                <img src="/images/services/rem-hodovoy.png" alt="">
                <span>Ремонт ходовой</span>
            </div>
            <div class="services__item">
                <img src="/images/services/rem-podveski.png" alt="">
                <span>Ремонт подвески</span>
            </div>
            <div class="services__item">
                <img src="/images/services/shinomontag.png" alt="">
                <span>Шиномонтаж</span>
            </div>
            <div class="services__item">
                <img src="/images/services/rem-vihlop.png" alt="">
                <span>Ремонт выхлопной системы</span>
            </div>
            <div class="services__item">
                <img src="/images/services/tormoznaya.png" alt="">
                <span>Тормозная система</span>
            </div>
            <div class="services__item">
                <img src="/images/services/katalizator.png" alt="">
                <span>Замена катализатора</span>
            </div>


        </div>
    </div>
</section>